.accordion-item:nth-child(1) .accordion-button {
  background-color: rgba(250, 195, 255, 1) !important;
}

.accordion-item:nth-child(2) .accordion-button {
  background-color: rgba(133, 217, 241, 1) !important;
}

.accordion-item:nth-child(3) .accordion-button {
  background-color: rgba(206, 255, 204, 1) !important;
}
