.todo-accordion-item > .accordion-header-todo button {
  background-color: rgba(250, 195, 255, 1) !important;
}

.accordion-item:nth-child(2) .accordion-button {
  background-color: rgba(133, 217, 241, 1) !important;
}

.accordion-item:nth-child(3) .accordion-button {
  background-color: rgba(206, 255, 204, 1) !important;
}

.deleteOption {
  border-radius: 10px; // Ensure this is set to 10px
  background-color: white;
  padding: "10px";
  position: absolute;
  top: 32%;
  left: 60%;
  z-index: 99;
}

.delete {
  cursor: pointer;
}

.accordion-body {
  background-color: rgba(241, 241, 241, 1);
  .accordion-add {
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    background: rgba(123, 25, 132, 1);
    border: rgba(123, 25, 132, 1);
    width: 125px;
  }
  .accordion-cancel {
    font-weight: bold;
    width: 125px;

    text-align: center;
    color: rgba(0, 0, 0, 1);
    border-radius: 30px;
    background: rgba(244, 244, 244, 1);
    border: rgba(244, 244, 244, 1);
  }
  .accordion-date {
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
  }
  .large-icon {
    font-size: 3rem;
  }
  .accordion-dropdown {
    .accordion-toggle {
      color: black;
      border: none;
      background-color: transparent !important;
    }
  }
}

.accordion-button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion {
  border: none;
}
.accordion-input {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
.Muliti {
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  height: auto;
  padding: 10px;
  background-color: black;
  color: white;

  button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    padding: 10px;
  }
}
